*{
    margin: 0;
    padding: 0;
}
body{
    background-color: aliceblue;
}
.nav-bar{
    display: flex;
    background-color: rgb(255, 255, 255);
}
.img-logo{
    width: 17em;
    height: 6em;

}
ul.nav{
    display: flex;
margin-left: 173px;
margin-top: 36px;
}
ul li{
    margin-left: 4rem;
    list-style: none;
}
.fa-solid{
    margin-left: 152px;
    margin-top: 30px;
    font-size: 28px;
}
p.learn-more{
    text-align: center;
    margin-top: 15px;
}
.content{
    background-color: white;
}
.btn-down{
    display: flex;
}
.img-photo{
    width: 528px;
    position: absolute;
    top: 250px;
    right: 0;
}
.img img{
    width: 99px;
    margin-top: 56px;
    margin-left: 110px;
}
h1{
    margin-top: 20px;
    margin-left: 110px;  
    font-size: 54px;
    font-weight: 700;
    line-height: 65px;
    font-family: Inter,sans-serif;
    overflow: hidden;
}
.dialogue{
    margin-top: 20px;
    margin-left: 110px;
    font-family: Inter,sans-serif;
    font-weight: 409;
font-size: 21px;
    width: 100%;
    line-height: 35px;
}
.btn-down{
    border: 3px solid #f6f7f8;
    width: 222px;
    height: 39px;
    border-radius: 45px;
    margin-left: 102px;
    margin-top: 39px;
    background-color: black;
  
}
.btn-down:hover{
    cursor: pointer;
    background-color: white;
    border: 3px solid #050607;
}


.btn-down p{
    margin-top: 9px;
    margin-left: 33px;
    color: #f6f7f8;
}
.btn-down p:hover{
    color: black; 
}
.sec{
    margin-top: 200px;
    background-color: aquamarine;
    
}
.container{
    display: grid;
grid-template-columns:repeat(6,1fr) ;
column-gap: 20px;
grid-auto-columns: minmax(100px,auto);
}
.cont{
    background-color: rgb(237, 243, 243);
  border-radius:  20px;
   
}
